@charset "utf-8";

* {
	font-family: arial;
}

tr.popupRow {
	font-size: 12px;
	font-weight: bold;
}

tr.popupRow:hover {
	cursor:pointer;
}

.popupErrors {
	color: red !important;
	font-style: italic;
	text-align: center;
}
.popupSuccess {
	color: green !important;
	font-style: italic;
	text-align: center;
}
#dialogWrapper {
	display: none;
}
#popupDialog {
	padding-top: 15px;
}
#loadingBackground {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(3,3,3,.5);
}
#loadingBackground img {
	position: absolute;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-top: -27px;
	
}
#popupLabel, #popupPriority, #days_break, #max_views, #start_date, #end_date, #popups_filter input {
	border: 1px solid #999999;
	border-radius: 8px;
	padding: 8px;
	font-size: 14px;
	font-weight: normal;
}
#popupLabel {
	width: 80%;
	font-weight: bold;
}
#start_date, #end_date {
	width: 110px;
	font-size: 13px;
}
#popupPriority, #days_break, #max_views {
	width: 25px;
}
select {
	font-size: 14px;
	font-weight: normal;
}
#navigation {
	margin-bottom: 15px;
}
#navigationMenu, #navigationMenu li {
	display: inline;
	margin: 0;
	padding: 0;
}
h2 {
	color: #327E04;
	margin: 10px 0px;
}
#background_color,#imagepicker {
	background-color: #fff;
	border: medium none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
#background_color:hover,#imagepicker:hover {
	opacity: .6;
}
#background_color {
	/*background-image: url("/images/colorpicker.png");*/
	width: 45px;
	height: 37px;
}

#imagepicker {
	background-image: url("/images/patternpicker.png");
	width: 52px;
	height: 32px;
	border-radius: 0;
}
.popupBackgroundImage {
	width: 50px;
	height: 50px;
	float: left;
	border: 2px solid #aaa;
	cursor: pointer;
}
.popupBackgroundImage:hover {
	border: 2px solid #51a511;
}
#backgroundImages {
	background-color: #ECECEC;
	border: 1px solid #F0C49B;
	border-radius: 5px;
	display: none;
	height: 250px;
	left: 57px;
	overflow: auto;
	padding: 0;
	position: absolute;
	top: 32px;
	width: 238px;
	z-index: 15;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.56);
	box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.56);
}
div.sp-container {
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.56);
	box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.56);
}
#backgroundPicker {
	color: #000000;
	font-size: 16px;
	margin-top: 5px;
	position: relative;
}
td.hdr {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}
td.dsc {
	color: #999;
	font-style: italic;
	font-size: 12px;
}
div.popupPanel {
	float: left;
	margin-right: 25px;
}
body {
	background-image: url('/images/photography.png');
}
.inactivePopup {
	color: #999;
	font-style: italic;
	font-weight: normal !important;
}
#popupRulesPanel {
	display: none;
}